{% extends "courses/layout.html" %}

{% block title %} Courses Platform {% endblock %}

{% block body %}
    
    <div class="divform">
        <main class="form-signin">
            <form action="{% url 'password' %}" method="post"> 
            {% csrf_token %} 
            <h1 class="h3 mb-3 fw-normal">Change Password</h1>
            {% if message %}
                <div class="alert alert-{{ alert }}" role="alert">{{ message }}</div>
            {% endif %}

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="New Password">
                <label for="floatingPassword">New Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingConfirmation" name="confirmation" placeholder="Confirm Password">
                <label for="floatingConfirmation">Confirm Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Change</button>
            
            </form>
        </main>
    </div>

{% endblock %}