{% extends "courses/layout.html" %}

{% block title %} Courses Platform {% endblock %}

{% block body %}


<div class="container py-5">
    
    <div class="row justify-content-md-center">
        <div class="mt-4 col-md-8">
            <h3 class="mb-3">Edit Lesson</h3>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_courses' %}">Admin</a></li>
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_courses' %}">Courses</a></li>
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_course' lesson.course.id %}">{{ lesson.course.title }}</a></li>
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_module' lesson.module.id %}">{{ lesson.module.title }}</a></li>                    
                    <li class="breadcrumb-item active" aria-current="page">{{ lesson.title }}</li>
                </ol>
            </nav>
            <form action="{% url 'edit_lesson' lesson.id %}" method="POST" autocomplete="off">
                {% csrf_token %}
                
                
                <div class="input-group mb-3">
                    <label class="input-group-text" for="course">Course:</label>
                    <select class="form-select" name="course" id="course" required onmousedown="this.value='';" onchange="get_modules(this.value);">
                      <option value="" selected disabled>-----</option>
                      {% for course in courses|dictsort:"title" %}
                        {% if lesson.course == course %}
                            <option value="{{ course.id }}" selected>{{ course }}</option>
                        {% else %}
                            <option value="{{ course.id }}">{{ course }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="module">Module:</label>
                    <select class="form-select" name="module" id="module" required>
                      <option value="" selected disabled>-----</option>
                      {% for module in modules|dictsort:"title" %}
                        {% if lesson.module == module %}
                            <option value="{{ module.id }}" selected>{{ module }}</option>
                        {% else %}
                            <option value="{{ module.id }}">{{ module }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>
                
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="title" placeholder="Title"  value="{{ lesson.title }}" required>
                </div>
                <div class="form-group mb-2">
                    <textarea class="form-control" name="description" placeholder="Description" rows="6">{{ lesson.description }}</textarea>
                </div>
                <div class="form-group mb-3">
                    <input class="form-control" type="url" name="videoUrl" placeholder="YouTube Video URL" {% if course.videoUrl != None %} value="{{ lesson.videoUrl }}" {% endif %}>
                </div>

                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>




{% endblock %}


