{% extends "courses/layout.html" %}

{% block title %} Courses Platform {% endblock %}

{% block body %}

<div class="container py-5">
    
    <div class="row justify-content-md-center">
        <div class="mt-4 col-md-8">
            <h3 class="mb-3">New Module</h3>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_courses' %}">Admin</a></li>
                    <li class="breadcrumb-item"><a class="link-dark" href="{% url 'adm_courses' %}">Courses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Module</li>
                </ol>
            </nav>
            <form action="{% url 'newmodule' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <input class="form-control" autofocus type="text" name="title" placeholder="Title" required>
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group-text" for="course">Course:</label>
                    <select class="form-select" name="course" id="course" required>
                      <option value="" selected disabled>-----</option>
                      {% for course in courses|dictsort:"title" %}
                          <option value="{{ course.id }}">{{ course }}</option>
                      {% endfor %}
                    </select>
                </div>
                  
                <input class="btn btn-primary" type="submit" value="Create">
            </form>
        </div>
    </div>
</div>


{% endblock %}


